BODY {
  FONT-SIZE: 1em;
  CURSOR: default;
  FONT-FAMILY: Tahoma, Verdana, Helvetica, Sans Serif;
  background-color: white;
}

H1 {
  FONT-SIZE: 2em;
}

H2 {
  FONT-SIZE: 1.5em;
  margin: 0px;
  margin-bottom: 0.5em;
}

aside {
  display: table-cell;
}

nav {
  border: 1px dashed black;
  vertical-align: top;
  padding-right: 1em;
  padding-left: 1em;
}

nav ul {
  list-style: none;
  padding: 0px;
}

body header {
  text-align: center;
}

div #content {
  display: table-cell;
  vertical-align: top;
  padding-left: 1em;
}

article header {
  text-align: left;
}

p {
  margin: 0px;
}